.choiceBtn{
    line-height: 30px;
    width: 120px;
    padding: 10px;
    transition: 5s;
    letter-spacing: .15em;
    background: #188c7c;
    box-shadow:30px #188c7c;
    position: relative;
    font-family: 'Courier New', Courier, monospace;
}
#gameRes{
    font-family: 'Courier New', Courier, bold;
    border: 4px solid;
    border-radius: 25px;
    padding: 15px;
    padding-bottom: 20px;
    background-color: #76e1d3;
    text-align: center;
    
}
#winnerText{
    color: #f50606;
}

#gameDiv{
    font-family: 'Courier New', Courier, monospace;
    border: 4px solid;
    border-radius: 25px;
    padding: 15px;
    padding-bottom: 20px;
    background-color: #1d3232;
    text-align: center;
    
}
#playerText{
    color: antiquewhite;
}
#computerText{
    color: antiquewhite;
}
#resultText{
    color:brown
}